html{
    height: 1000px;
}
body{
    height: 100%;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    display: block;
}
form{
    margin-top: 1em;
}
.row{
    display: flex;
    margin-bottom: 2em;
}
.block_label{
    width: 40%;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    text-align: center;
}
.block_input{
    width: 60%;
    padding: 0 0 0 0;
}
#name{
    box-sizing: border-box;
    width: 100%;
}
#email{
    box-sizing: border-box;
    width: 100%;
}
#password{
    box-sizing: border-box;
    width: 100%;
}
#birth{
    box-sizing: border-box;
    width: 100%;
}
#hobby{
    box-sizing: border-box;
    width: 100%;
}
#words{
    box-sizing: border-box;
    width: 100%;
}

.border_type{
    border: 1px solid;
}
.blue_button{
    border-radius: 5px;
    background-color: #428BCA;
    color: white;
}
.button_without_border{
    background-color: white;
    border: none;
    color: blue;
}
